* {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 1em;
}


.input {
    display: flex;
    width: 100%;
    position: relative;
}

// Search bar and button styling
.input__box {
    width: 100vw;
    border-radius: 50px;
    padding: 20px 30px;
    border: none;
    font-size: 25px;
    transition: 0.2s all;
    box-shadow: inset 0 0 5px black;

}

.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0.5);
    outline: none;
}

.input_submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #533A71;
    color:  white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_submit:hover {
    background-color: black;
}

.input_submit:active {
    transform: scale(0.9);
    box-shadow: 0 0 4px black;
}

// Create button submit styling
.create__submit {
    margin: 12px;
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    background-color: #8CC7A1;
    color:  white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
    float: right;
}


.create__submit:hover {
    background-color: black;
}

.create__submit:active {
    transform: scale(0.9);
    box-shadow: 0 0 4px black;
}

.login_signup_button {
    margin: 12px;
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    background-color: #FF595E;
    color:  white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
    float: right;
}

.login_signup_button:hover {
    background-color: black;
}

.login_signup_button:active {
    transform: scale(0.9);
    box-shadow: 0 0 4px black;
}

.banner_img {
    width: 100%;
}

.banner_sub_img {
    width: 100%;
}

.prim_container {
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center
}